@font-face {
    font-family: "TT Norms";
    src:
    url(TT_Norms/TTNorms-Regular.woff) format('woff');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: "TT Norms Italic";
    src:
    url(TT_Norms/TTNorms-Italic.woff) format('woff');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "TT Norms Bold";
    src:
    url(TT_Norms/TTNorms-Bold.woff) format('woff');
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: "TT Norms BoldItalic";
    src:
    url(TT_Norms/TTNorms-BoldItalic.woff) format('woff');
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "TT Norms Thin";
    src:
    url(TT_Norms/TTNorms-Thin.woff) format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "TT Norms Black";
    src:
    url(TT_Norms/TTNorms-Black.woff) format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "TT Norms BlackItalic";
    src:
    url(TT_Norms/TTNorms-BlackItalic.woff) format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "TT Norms Medium";
    src:
    url(TT_Norms/TTNorms-Medium.woff) format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}
